extends layout

block content

    .container(class="py-5")
      .row
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 1
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 2
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link
        .col-lg-4(class="pb-4")
          .card(style='width: 18rem;')
            .card-body
              h5.card-title Universe Card 3
              h6.card-subtitle.mb-2.text-body-secondary Card subtitle
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.card-link(href='#') Card link
              a.card-link(href='#') Another link

